body {
    background-color: #505050;
    margin: 18px 0 0 8px;
}

.page {
    margin: 0 auto;
    width: 1420px;
}

header {
    height: 137px;
    width: 1420px;
    position: relative;
}

header, .menu, .menu2, .content, .form {
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
    background-color: #909090;
}

header img.logo {
    height: 110px;
    margin: 10px 0 0 10px;
}

header img.search {
    position: absolute;
    top: 10px;
    right: 30px;
}

header img.disconnect, header img.refresh {
    position: absolute;
    right: 10px;
    height: 20px;
    width: 20px;
}

header .disconnect {
    bottom: 10px;
}

header .refresh {
    top: 10px;
}

.menu{
    width: 108px;
    height: 410px;
    float: left;
    margin: 20px 0 0 30px;
    padding: 15px 0 0 32px;
}

.menu img {
    width: 70px;
    margin-bottom: 6px;
}

.menu2 img {
    width: 70px;
    margin-bottom: 6px;
}

.menu img.selected {
    border: 5px solid red;
    margin: -5px 0 1px -5px;
    border-radius: 5px;
}

.menu2{
    width: 105px;
    height: 410px;
    float: left;
    margin: 20px 0 0 30px;
    padding: 15px 0 0 35px;
}

.menu2 .bricks {
    background-image: url('resources/brick.jpg');
    width: 120px;
    height: 70px;
    margin:-5px 0 0 -25px;
}

.menu2 img {
    width: 70px;
    margin-bottom: 6px;
}

.content {
    margin: 20px 0 0 30px;
    width: 1020px;
    height: 582px;
    float: left;
    position: relative;
}

.content img {
    margin: 10px;
    width: 1000px;
    height: 562px;
}

.form {
    background-color: #88FF89;
    width: 500px;
    height: 150px;
    position: absolute;
    bottom: -94px;
    left: -245px;
    padding: 10px;
    font-family: 'Verdana';
    font-size: 15.5px;
    letter-spacing: 0.3px;
}

.form span.msg {
    font-family: 'Arial';
    font-size: 31px;
    letter-spacing: 1.5px;
}

.form span.shadow {
    text-shadow: 5px 5px 5px #ff0000;
}

.form span.newhere {
    font-size: 15px;
    letter-spacing: 0.3px;
    font-style: italic;
    font-family: 'Verdana';
}

.form form {
    height: 22px;
}

.form form input[type="text"] {
    margin-left: 2px;
    width: 376px;
    border: 2px solid #9d969d;
    border-bottom-color: #eeeeee;
    border-right-color: #eeeeee;
    height: 15px;
}

.form form input[type="submit"] {
    border: 1px solid #a8a4a5;
    border-radius: 1px;
    background: #DCDCDC;
    margin-left: 4px;
    height: 22px;
    font-size:12px;
    letter-spacing: 1px;
}